.library {
  display: flex;
  justify-content: center;
  padding-top: 3vw;
  width: 100%;
  height: auto;
}

.movie-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 95%;
  height: auto;
}