.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: $onyx;
  width: 100%;
  height: 15em;
  padding-top: 1em;
  box-shadow: $shadow-main;
}